<%- model_class = Category -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:sub_categories) %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.type_description %></td>
        <td><%= link_to category.name, category_path(category.id) %></td>
        <td>
          [<%= link_to "Todas", category_sub_categories_path(category.id) %>] - <%= category.sub_categories.sort_by{|e| e.name}.map{|p| p.name}.join(", ") %>.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
