<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Numis", root_path, :class => 'navbar-brand' %>
    </div><!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="<%= 'active' if params[:controller].downcase() == 'banks' %>"> <%= link_to "Bancos", banks_path %> </li>
          <li class="<%= 'active' if params[:controller].downcase() == 'categories' %>"> <%= link_to "Categorias", categories_path %> </li>

          <% if current_user.has_role? :admin %>
            <li><%= link_to 'Admin', users_path %></li>
          <% end %>
        <% else %>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="<%= 'active' if params[:controller].downcase() == 'users/registrations' %>"> <%= link_to 'Minha Conta', edit_user_registration_path %> </li>
        <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
      <% else %>
        <li><%= link_to 'Cadastrar', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- EXEMPLOS -->
<% if false %>

<%= params[:controller] %>
<%= debug params %>
<li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
<li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>

<ul class="nav">
  <li class="<%= 'active' if params[:controller] == 'controller1' %>"> <a href="/link">Link</a> </li>
  <li class="<%= 'active' if params[:controller] == 'controller2' %>"> <a href="/link">Link</a> </li>
  <li class="<%= 'active' if params[:controller] == 'controller3' %>"> <a href="/link">Link</a> </li>
</ul>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">One more separated link</a></li>
  </ul>
</li>

<% end %>

